<app-owner-navigation />
<select class="styled-select" (change)="onPlaceChange($event)">
    <option *ngFor="let place of places" [value]="place._id">
        {{ place.placeName }}
    </option>
</select>
<input [(ngModel)]="intervalMs">
<button (click)="startExchange()">Start Market</button>
<button (click)="stopExchange()">Stop Market</button>

<div style="margin-top: 20px;">
    <input [(ngModel)]="crashMessage" placeholder="Crash Message">
    <button (click)="updateCrashMessage()">Değiştir</button>
</div>
