/* Tüm tarayıcı default boşluklarını sıfırla */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Angular root component tam ekran otursun */
app-root {
  display: block;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  touch-action: none;
}
